*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.header{
    border-bottom: 3px solid #396bc2;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f0f8ff;
    

}

.nav_bar{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.nav_logo{
    width: 150px;
    height: 40px;
    
}

.nav_items{
    display: flex;
    gap: 60px;
    align-items: center;
    padding-right: 60px;
}

.nav_item a{
    text-decoration: none;
    color:#e61693de;
    font-size: 20px;
}

.nav_item a:hover{
    text-decoration: underline;
    color:#1e36d0;
}

.convert_logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.img_logo{
    width: 300px;
}




.txt p{
    font-size: 15px;
    padding-bottom: 10px;
}


.search{
    width: 330px;
    height: 30px;
    border: 2px solid #8dc4f4;
    font-size: 15px; 
    padding: 5px;
}

.bttn{
    width: 80px;
    height: 30px;
    font-size: 15px;
    background-color: #6285dc;
    color: #fff; 
} 

.bttn:hover{
    background-color: aqua;
}

.btns{
    width:50;
    padding: 5px;
    margin-top:6px;
    margin-bottom:6px;
    border-color: #3384e8;
    background: transparent;
    border-radius: 5px;
}

.btn1{
    margin-left: 6px;
}

.btn2{
    margin-left:3px;
}


.main{
    border-top: 0.5px solid #c8def1;
    border-bottom: 2px solid #8dc4f4;
    border-left: 0.5px solid #c8def1;
    border-right: 2px solid #8dc4f4;
    background-color: #f0f8ff;
    display: inline-block;
    margin-top: 40px;
    margin-left: 34%;
    width: 430px;
    padding:28px;
    
}